* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primaria: #4f46e5;
  --secundaria: #7c3aed;
  --escuro: #0f172a;
  --maisEscuro: #0a0f1c;
  --claro: #e2e8f0;
  --vidro: rgba(255, 255, 255, 0.1);
}

body {
  background-color: var(--escuro);
  color: var(--claro);
}

.navegacao {
  position: fixed;
  top: 0;
  background: rgba(15, 23, 42, 0.8);
  width: 100%;
  z-index: 100;
  padding: .5rem;
}

.navegacao-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.menu-nome {
  font-size: 25px;
  font-weight: bold;
  color: var(--claro);
}

.menu-nome .nome-destaque {
  color: var(--primaria);
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.menu>li:first-child {
  margin-right: auto;
}

.menu>li:not(:first-child) {
  margin-left: 80px;
}

.menu-link {
  text-decoration: none;
  color: var(--claro);
  font-weight: 500;
  position: relative;
  padding: 0.5rem 0;
}

.menu-link::after {
  content: "";
  height: 2px;
  width: 0%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, var(--primaria), var(--secundaria));
  transition: width 0.5s ease;
}

.menu-link:hover::after {
  width: 100%;
}

.dropdown-mobile {
  display: none;
}

.button-dropdown-mobile {
  background: none;
  border: none;
  color: var(--claro);
  font-size: 1.8rem;
  cursor: pointer;
}

.dropdown-menu {
  position: fixed;
  border-radius: 8px;
  background: linear-gradient(to right, var(--escuro), var(--maisEscuro));
  top: 60px;
  right: 0px;
  height: 100vh;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

@media(max-width: 768px) {

  .navegacao-container {
    padding: .5rem 3rem;
  }

  .menu-link {
    display: none;
  }

  .dropdown-mobile {
    display: block;
  }

  .menu{
    gap: 5rem;
  }

}

.cabecalho {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cabecalho-titulo {
  font-size: 3rem;
  color: var(--claro);
  text-align: center;
}

.espaco-padrao {
  max-width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.cabecalho-nome {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

h1 {
  font-size: 2.5rem;
  color: var(--claro);
  font-weight: bold;
}

.cabecalho-sub-titulo {
  display: block;
  font-size: 1.5rem;
  color: var(--primaria);
  font-weight: bold;
  margin: 0px 0px 20px 0px;
}

.cabecalho-apresentacao {
  padding: 9px 0;
  text-align: left;
  font-size: 1.1rem;
  max-width: 560px;
}

.cabecalho-ajuste {
  display: flex;
  margin: 5px 0;
}

.cabecalho-atalho {
  text-decoration: none;
  width: 150px;
  margin: 5px;
  font-weight: bold;
  color: var(--claro);
  padding: 9px;
  border-radius: 16px;
  border: 1px solid var(--vidro);
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  transition: all 0.5s ease;
}

.cabecalho-atalho:hover {
  transform: translateY(-4px);
  box-shadow: 0 5px 15px rgba(79, 70, 229, 0.4);
}

.container-logotipo {
  margin: 5px 0;
  display: flex;
  justify-content: center;
}

.logotipo {
  margin: 0 10px;
  width: 35px;
  height: 35px;
  padding: 2px;
  border-radius: 16px;
  border: 1px solid var(--vidro);
  background: rgba(255, 255, 255, 0.05);
  transition: all 0.5s ease;
}

.logotipo:hover {
  transform: rotateY(-4px);
  box-shadow: 0 5px 15px rgba(79, 70, 229, 0.4);
}

.ajustar-foto-lego {
  margin-left: 5rem;
}

.foto-lego {
  width: 350px;
  height: 350px;
  margin-top: 20px;
  box-shadow: 0 0 80px rgba(233, 233, 234, 0.3);
  border-radius: 50%;
  border: 4px solid var(--vidro);
}

@media(max-width: 768px) {
  .cabecalho-titulo {
    display: none;
  }

  .espaco-padrao {
    flex-direction: column;
  }

  .ajustar-foto-lego {
  margin-left: 0;
}

  .foto-lego {
    width: 200px;
    height: 200px;
  }
}

.sobre {
  background-color: var(--maisEscuro);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sobre-titulo {
  font-size: 3rem;
  color: var(--claro);
  text-align: center;
  margin-bottom: 100px;
}

.sobre-texto {
  max-width: 600px;
}

.saudacao {
  font-size: 2.5rem;
  color: var(--primaria);
  margin-bottom: 0.5rem;
}

.apresentar-me {
  font-size: 2.5rem;
  color: var(--claro);
  margin-bottom: 1rem;
}

.sobre-paragrafo {
  text-align: left;
  padding: 5px 0;
  font-size: 1.1rem;
  line-height: 1.5;
}

.botao-cv {
  margin-top: 10px;
  color: var(--claro);
  background: linear-gradient(45deg, var(--primaria), var(--secundaria));
  padding: 10px 2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  transition: all 0.5s ease;
}

.botao-cv:hover {
  transform: translateY(-4px);
  box-shadow: 0 5px 15px rgba(79, 70, 229, 0.4);
}

.ajustar-foto-perfil {
  flex-shrink: 0;
  max-width: 350px;
  margin-right: 5rem;
}

.foto-perfil {
  width: 350px;
  height: 350px;
  box-shadow: 0 0 80px rgba(233, 233, 234, 0.3);
  border-radius: 50%;
  border: 4px solid var(--vidro);
  animation: flutuar 5s ease-out infinite;
}

@media(max-width: 768px) {
  .ajustar-foto-perfil {
    max-width: 250px;
    margin-right: 0;
  }

  .sobre-titulo {
    font-size: 2rem;
    margin-bottom: 15px;
  }

  .saudacao,
  .apresentar-me {
    font-size: 1.2rem;
  }

  .sobre-paragrafo {
    font-size: 1rem;
  }

  .botao-cv {
    font-size: 0.9rem;
    padding: 6px 1rem;
  }

  .foto-perfil {
    width: 200px;
    height: 200px;
  }
}

@keyframes flutuar {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

.projetos {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.projetos-titulo {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 50px;
}

.projeto-container {
  max-width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  gap: 2rem;
}

.projetos-card {
  background: rgba(255, 255, 255, 0.05);
  min-height: 470px;
  border-radius: 16px;
  backdrop-filter: blur(5px);
  border: 1px solid var(--vidro);
  overflow: hidden;
  transition: all 0.5s ease;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.projetos-card:hover {
  box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
  transform: translateY(-10px) scale(1.03);
}

.projetos-imagem {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.caixa-textos-projetos {
  padding: 1.2rem;
}

.info-projetos {
  margin-bottom: 5px;
}

.info-projetos-login {
  font-size: 0.8rem;
  color: red;
  margin-left: 8px;
}

.paragrafo-projetos {
  color: rgba(256, 232, 240, 0.8);
  line-height: 1.25rem;
}

.tecnologia {
  list-style: none;
  display: inline-block;
  margin-top: 7px;
  margin-right: 2px;
  padding: 5px;
  color: var(--claro);
  border: 1px solid var(--vidro);
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
}

.skills {
  background-color: var(--maisEscuro);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.skills-titulo {
  font-size: 2.5rem;
  margin-bottom: 6rem;
}

.skills-grid ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 60px;
  column-gap: 60px;
  list-style: none;
  justify-items: center;
}

.skills-box {
  padding: 10px;
  width: 100px;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  transition: transform 0.3s ease;
}

.skills-box img {
  margin-bottom: 8px;
}

.skills-box:hover {
  transform: scale(1.2);
  cursor: pointer;
}

@media (max-width: 768px) {

  .skills-titulo {
    font-size: 2rem;
    margin-bottom: 60px;
  }

  .skills-box {
    width: 80px;
  }

  .skills-grid ul {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 10px;
    column-gap: 10px;
  }

  .projetos-titulo {
    font-size: 2rem;
    margin-bottom: 20px;
  }

}

.sub-paragrafo-projetos {
  margin-top: 5px;
  color: var(--primaria);
  line-height: 1.25rem;
}

.contatos {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contatos-titulo {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 100px;
}

.contatos-textos {
  max-width: 600px;
  width: 100%;
}

.contatos-subtitulo {
  font-size: 2rem;
  max-width: 600px;
  margin-bottom: 9px;
}

.contatos-paragrafo {
  text-align: left;
  max-width: 600px;
  margin-bottom: 18px;
  font-size: 1rem;
  line-height: 1.5;
}

.contatos-subparagrafo {
  color: #3b82f6;
  font-weight: bold;
  margin-bottom: 4px;
}

.contatos-subcontate-me {
  margin-bottom: 4px;
}

.formulario-contato {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  padding: 2rem;
  border: 1px solid var(--vidro);
  border-radius: 16px;
  margin-left: 10rem;
}

.grupo-form {
  margin-bottom: 1.5rem;
}

.campo-form {
  width: 100%;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  color: var(--claro);
  border: 1px solid var(--vidro);
  outline: none;
}

.campo-form:focus {
  border-color: var(--secundaria);
  box-shadow: 0 0 10px rgba(79, 70, 229, 0.3);
}

.botao-form {
  color: var(--claro);
  background: linear-gradient(45deg, var(--primaria), var(--secundaria));
  padding: 1rem 2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  transition: all 0.5s ease;
}

.botao-form:hover {
  transform: translateY(-4px);
  box-shadow: 0 5px 15px rgba(79, 70, 229, 0.4);
}

@media (max-width: 768px) {
  .formulario-contato {
    padding: 1rem;
    margin-left: 0;
  }

  .contatos-titulo {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .contatos-subtitulo {
    font-size: 1.1rem;
  }

  .contatos-textos {
    margin-bottom: 20px;
  }

}